%h1.table_headline= t('departments.index.list_of_departments')

- if can? :create, Department
  .row
    %div{class: 'float-right'}
      %a.btn.index_button_new.mb-3{ href: new_department_path}= t('departments.index.new_department_button')

= render'search'

= render'table'
