= month_calendar(attribute: :from, end_attribute: :to, events: @meetings) do |date, meetings|
  = date.day 

  -meetings.each do |meeting|
    %div.event
      = link_to meeting.seat.name, reservation_path(meeting.id), class: 'event', target: "_blank"