%h1.table-headline= t('home.index.my_reservations')

.row
  .div{class: 'float-right'}
    .btn.index_button_new.mt-3.mb-3.float_right
      = link_to t('reservations.new.new_reservation'), map_reservations_path, class: 'btn'

  = render'calendar'
