:javascript
    $(function() {
        $('.map').maphilight({
            /*fillColor: '880808',*/
            alwaysOn: true
        });
    });

= image_tag("test_map", alt: "test_map", usemap:"#image-map", class: "map" )
%map{:name => "image-map"}
    -Seat.where(id: [1,2,3]).each do |seat|
        %area{:alt => seat.name, :coords => seat.coordinates, :href => "/seats", :shape => "rect", :target => "_blank", :title => seat.name, :class => seat.seat_color}/