/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/scss/bootstrap
 *= require simple_calendar
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: whitesmoke;
  }

 label{
     font-weight: bold;
 }

 td {
    padding-left: 15px;
 }

.table_headline {
    font-size: 40px;
    color: black;
}

.show_headline {
    font-size: 30px;
    color: black;
}

.index_table > :not(:first-child) {
    border-top: none;
}

.index_table th{
    background-color: #e27d60;
}

.index_table td{
    background-color: whitesmoke;
}

.index_table tr:hover td{
    background-color: rgb(215, 220, 223);
}

.index_button_show{
    background-color: #83b3e0;
}

.index_button_edit{
    background-color: #41B3A3;
}

.index_button_new{
    float: right;
    background-color: #c38d9e;
}

.detail_table{
    width: 50%;
}

.detail_table td{ 
    background-color: whitesmoke;
}

.detail_table td:first-child{
    font-weight: bold;
}

.back_button {
    background-color: #83b3e0;
}

.pagination {
    .page, .next, .last, .prev, .first{
      padding: 5px;
    }
    .current {
      font-weight: bold;
    }
}
