%p
  =t('devise.mailer.hello', :email=> @resource.email)
%p= t('devise.mailer.reset_introduction')
%p= link_to t('devise.mailer.change_password_button'), edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.ignore_if_not_you')
%p= t('devise.mailer.password_wont_change_sooner')
